
.main-wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1600px;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
.header{
  background-image: url(./assets/img/bg-image-wrapper.jpg);
  
  height: 744px;
}
.nav{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 26px;
  margin-left: -15px;
}
.about{
  font-weight: 500;
}
.Syllabus, .projects, .FAQ {font-weight: normal;}
.about, .Syllabus, .projects, .FAQ {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
  opacity: 0.8;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.about:hover,.Syllabus:hover,.projects:hover,.FAQ:hover {
  text-decoration: underline;
  font-weight: 500;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.about:active,.Syllabus:active,.projects:active,.FAQ:active{
  color: #1F5BF5;
}

.Syllabus{
  margin-right: 101px;
}
.about{
  margin-right: 85px;
  text-decoration: underline;
}
.projects{
  margin-left: 101px;
}
.FAQ{
  margin-left: 83px;
}
.slogan{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 161px;
  padding-top: 0px;
}
.wrapper-motto{ 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -38px;
}
.motto{
  width: 504px;
  height: 50px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  margin-top:58px;
}
.wrapper-link_centr{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wrapper-link_started{
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 184px;
  height: 46px;
  background: #00AFDB;
  margin-left: -2px;
}
.wrapper-link_started:hover{
  background-color: royalblue;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.getStarted {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.getStarted:hover{
  color:red;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.getStarted:active{
  color: #1F5BF5;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.wrapper_contacts{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 183px;
}
.contacts{
  width: 170px;
  height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.email, .facebook, .insta{
  margin-right: 30px;
}
.email:hover, .facebook:hover, .insta:hover, .youtube:hover {
   -webkit-filter: brightness(0.25);
           filter: brightness(0.25); 
}


.smart-design{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 842px;
  background-color: white;
  -webkit-box-pack:space-evenly;
      -ms-flex-pack:space-evenly;
          justify-content:space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  
}
.content-image{
  width: 407px;
  height: 582px;
  margin-right: 19px;
  margin-top: -20px;
}

.smart-design_content{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 407px;
  height: 233px;
  margin-left: 18px;
  margin-bottom: 18px;
}
.smart-desing_title{
  font-family:'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
}
.smart-design_text{
  margin-top: 22px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #4E4E4E;
}
.bold_text{
  font-weight: bold;
}
.wrapper-link_started-smart-design{
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 184px;
  height: 46px;
  background: #00AFDB;
}
.wrapper-link_started-smart-design:hover{
  background-color: royalblue;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.getStarted-smart-design{
  font-family:'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.getStarted-smart-design:hover{
  color: red;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.getStarted-smart-design:active{
  color: #1F5BF5;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.comminity{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F5F6F7;
  width: 1600px;
  height: 504px;
  overflow-x:hidden;
  
}
.low-community{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 247px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 39px;

}
.slider-comminity{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 269px;
  margin-top: 1px;
  width: 82px;
  height: 1px;
}
.slider-comminity-wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 20px;
}
.info-slider{
  font-family:'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
}
.slider__control_left{
  padding-bottom: 2px;
}
.slider__control_left:hover{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
   transform: scale(1.3);
   -webkit-transition: .5s;
   -o-transition: .5s;
   transition: .5s;
}
.slider__control_right{
  padding-bottom: 2px;
}
.slider__control_right:hover{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
   transform: scale(1.3);
   -webkit-transition: .5s;
   -o-transition: .5s;
   transition: .5s;
}

.community-info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 657px;
  width: 298px;
  height: 175px;
  margin-top: 36px;
  
}
.community-title{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #373737;
  margin-top: 20px;
}
.comminity-text{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 147%;
  text-align: center;
  color: #4E4E4E;
  margin-top: 10px;
}

.first{
  margin-left: 139px;
}
.second, .third{
  margin-left: 30px;
}
.third{
  overflow: hidden;
}
.slider-comminity-wrapper{
  width: 100%;
}

.rigth-code{
  height: 842px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rigth-code_content-photo{
  width: 407px;
  height: 582px;
  margin-right: 139px;
  margin-left: 269px;
  margin-top: 120px;
  margin-bottom: 140px;
}
.rigth-code_info{
  width: 407px;
  height: 184px;
  margin-right: 378px;
  margin-top: 283px;
  margin-bottom: 339px;
}
.rigth-code_slogan{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
  margin-top: 20px;
}
.rigth-code_text{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #4E4E4E;
  margin-top: 20px;
}
.wrapper-link_learn-more{
  width: 180px;
  height: 46px;
  background: #00AFDB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 32px;
}
.wrapper-link_learn-more:hover{
  background-color: royalblue;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.learn-more{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.learn-more:hover{
  color: red;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.learn-more:active{
  color: #1F5BF5;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.wrapper_sign{
  background-image:url(./assets/img/bg-signin.jpg);
  height: 598px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  
}
.sign_title{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: -58px;
}
.sign_form{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}
.sign_email{
  width: 340px;
  height: 46px;
  padding: 0 0 0 0;
  border: 0px solid green;
}
.sign_email::-webkit-input-placeholder{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #373737;
  opacity: 0.5;
  padding-left: 24px;
}
.sign_email::-moz-placeholder{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #373737;
  opacity: 0.5;
  padding-left: 24px;
}
.sign_email:-ms-input-placeholder{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #373737;
  opacity: 0.5;
  padding-left: 24px;
}
.sign_email::-ms-input-placeholder{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #373737;
  opacity: 0.5;
  padding-left: 24px;
}
.sign_email::placeholder{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #373737;
  opacity: 0.5;
  padding-left: 24px;
}
.sign_button{
  width: 66px;
  height: 46px;
  padding: 0 0 0 0;
  border: 0px solid green;
  background: #00AFDB;
}
.sign_button:hover{
  background-color: royalblue;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.vector-sign:hover{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
   transform: scale(1.3);
   -webkit-transition: .5s;
   -o-transition: .5s;
   transition: .5s;
}
.download{
  height: 468px;
}
.download-title{
  margin-top: 120px;
}
.download-text{
  margin-top: 22px;
}
.download-buttons{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 31px;
}
.download-content{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
}
.download-title{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
  text-align: center;
}

.download-text{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #4E4E4E;
}
.applestore-button{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 188px;
  height: 50px;
  background: #00AFDB;
  margin-right: 30px;
}
.applestore-button:hover{
  background-color: royalblue;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.apple-icon{
  width: 60px;
  height: 50px;
  background: #009CC2;
}
.applestore-button:hover > .apple-icon > .apple{
  -webkit-filter: brightness(0.25);
  filter: brightness(0.25); 
}
 .android-button:hover > .android-icon >.android{
  -webkit-filter: brightness(0.25);
  filter: brightness(0.25); 
}
.applestore-button:hover > .apple-icon{
  background-color: royalblue;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.apple-title{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  padding-right: 18px;
}

.apple{
  padding-top: 14px;
  padding-left: 23px;

}

.android-button{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 188px;
  height: 50px;
  background: #00AFDB;
}
.android-button:hover{
  background-color: royalblue;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.android-title{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  padding-right: 18px;
}

.android-icon{
  width: 60px;
  height: 50px;
  background: #009CC2;
}
.android-button:hover > .android-icon{
  background-color: royalblue;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.android{
  padding-top: 14px;
  padding-left: 20px;
}
.footer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 184px;
  background-color: black;
}
.footer-nav{
  margin-top: -18px;
  margin-left: 160px;
}
.credits, .privacy, .team{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
  opacity: 0.98;
}
.divider1{
  margin-left: 16px;
  margin-right: 16px;
}
.divider2{
  margin-left: 16px;
  margin-right: 16px;
}
.signature{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #818181;
  margin-right: 160px;
  margin-top: -15px;
}
.footer-label{
  margin-left: -66px;
  margin-top: -18px;
}
.credits:hover, .privacy:hover, .team:hover {
  text-decoration: underline;
  font-weight: 500;
  font-size: 14px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.credits:active,.privacy:active,.team:active {
  color: #1F5BF5;
}