body{
 display: flex;
 flex-direction: column;
 justify-content: center;
 width: 1600px;
 margin: 0 0 0 0;
}
a{
  text-decoration: none;
}
.header{
  background-image: url(./assets/img/bg-image-wrapper.jpg);
  
  height: 744px;
}
.nav{
  display: flex;
  justify-content: center;
  margin-top: 26px;
  margin-left: -15px;
}
.about{
  font-weight: 500;
}
.Syllabus, .projects, .FAQ {font-weight: normal;}
.about, .Syllabus, .projects, .FAQ {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
  opacity: 0.8;
  align-self: center;
}
.about:hover,.Syllabus:hover,.projects:hover,.FAQ:hover {
  color: red;
  text-decoration: underline;
  font-weight: 500;
  font-size: 16px;
  transition: 0.5s;
}
.about:active,.Syllabus:active,.projects:active,.FAQ:active{
  color: #1F5BF5;
}

.Syllabus{
  margin-right: 101px;
}
.about{
  margin-right: 85px;
  text-decoration: underline;
}
.projects{
  margin-left: 101px;
}
.FAQ{
  margin-left: 83px;
}
.slogan{
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 161px;
  padding-top: 0px;
}
.wrapper-motto{ 
  display: flex;
  justify-content: center;
  margin-top: -38px;
}
.motto{
  width: 504px;
  height: 50px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  margin-top:58px;
}
.wrapper-link_centr{
  display: flex;
  justify-content: center;
}
.wrapper-link_started{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 184px;
  height: 46px;
  background: #00AFDB;
  margin-left: -2px;
}
.getStarted {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.wrapper_contacts{
  display: flex;
  justify-content: center;
  margin-top: 183px;
}
.contacts{
  width: 170px;
  height: 20px;
  box-sizing: border-box;
  display: flex;
}
.email, .facebook, .insta{
  margin-right: 30px;
}
.email:hover, .facebook:hover, .insta:hover, .youtube:hover {
   filter: brightness(0.25); 
}


.smart-design{
  display: flex;
  min-height: 842px;
  background-color: white;
  justify-content:space-evenly;
  align-items: center;
  
}
.content-image{
  width: 407px;
  height: 582px;
  margin-right: 18px;
  margin-top: -20px;
}

.smart-design_content{
  display: flex;
  flex-direction: column;
  width: 407px;
  height: 233px;
  margin-left: 18px;
  margin-bottom: 18px;
}
.smart-desing_title{
  font-family:'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
}
.smart-design_text{
  margin-top: 22px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #4E4E4E;
}
.bold_text{
  font-weight: bold;
}
.wrapper-link_started-smart-design{
  margin-top: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 184px;
  height: 46px;
  background: #00AFDB;
}
.getStarted-smart-design{
  font-family:'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}